
.grid-item.changed-files
{
	--line-height: 2em;
	
	--scroll-line-height: var(--line-height);
}

.grid-item.changed-files .line
{
	margin: 0 0.5em;
	padding: 0 0.5em;
	line-height: var(--line-height);
	white-space: nowrap;
}

.grid-item.changed-files .line>.flag
{
	display: inline-block;
	position: relative;
	width:  var(--line-height);
	height: var(--line-height);
	vertical-align: bottom;
}

.grid-item.changed-files .line>.flag.added
{
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496.158 496.158"><path fill="hsla(30,100%,50%,1)" d="M383.546,206.55H289.08v-93.938c0-3.976-3.224-7.199-7.201-7.199H213.75 c-3.977,0-7.2,3.224-7.2,7.199v93.938h-93.937c-3.977,0-7.2,3.225-7.2,7.2v69.187c0,3.976,3.224,7.199,7.2,7.199h93.937v93.41 c0,3.976,3.224,7.199,7.2,7.199h68.129c3.978,0,7.201-3.224,7.201-7.199v-93.41h94.466c3.976,0,7.199-3.224,7.199-7.199V213.75 C390.745,209.774,387.521,206.55,383.546,206.55z" /></svg>');
}

.grid-item.changed-files .line>.flag.modified
{
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="-128 -128 1280 1280" xmlns="http://www.w3.org/2000/svg"><path fill="hsla(30,100%,50%,1)" d="M821.1 595c14.6 8.2 24 20.5 28.3 36.8s2.3 31.8-5.9 46.4L813 730.5c-8.2 14.6-20.5 24-36.8 28.3s-31.8 2.3-46.4-5.9l-126.5-72.7v146c0 16.5-6 30.7-18.1 42.8-12.1 12-26.3 18.1-42.8 18.1h-60.9c-16.5 0-30.7-6-42.8-18.1-12-12-18.1-26.3-18.1-42.8v-146l-126.5 72.7c-14.6 8.2-30 10.2-46.4 5.9-16.3-4.3-28.6-13.7-36.8-28.3l-30.4-52.3c-8.2-14.6-10.2-30-5.9-46.4 4.3-16.3 13.7-28.6 28.3-36.8l126.5-73.2-126.5-73.2c-14.6-8.2-24-20.5-28.3-36.8s-2.3-31.8 5.9-46.4L211 313c8.2-14.6 20.5-24 36.8-28.3s31.8-2.3 46.4 5.9l126.5 72.7v-146c0-16.5 6-30.7 18.1-42.8 12-12 26.3-18.1 42.8-18.1h60.9c16.5 0 30.7 6 42.8 18.1 12 12.1 18.1 26.3 18.1 42.8v146l126.5-72.7c14.6-8.2 30-10.2 46.4-5.9 16.3 4.3 28.6 13.7 36.8 28.3l30.4 52.3c8.2 14.6 10.2 30 5.9 46.4-4.3 16.3-13.7 28.6-28.3 36.8l-126.5 73.2L821.1 595z" /></svg>');
}

.grid-item.changed-files .line>.flag.deleted
{
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="-256 -256 1536 1536" xmlns="http://www.w3.org/2000/svg"><path fill="hsla(30,100%,50%,1)" d="M975.68 109.696l-92.736 0-110.144 0L627.968 0 396.096 0 251.2 109.696 141.056 109.696l-92.8 0C22.656 109.696 0 138.56 0 164.16L0 210.56C0 236.16 22.656 256 48.256 256l43.136 0 0 719.68c0 25.6 24 48.32 49.6 48.32l741.952 0c25.6 0 49.6-22.72 49.6-48.32L932.544 256l43.136 0C1001.344 256 1024 236.16 1024 210.624L1024 164.224C1024 138.56 1001.344 109.696 975.68 109.696L975.68 109.696zM329.152 848.192c0 19.2-18.24 29.504-37.44 29.504L268.544 877.696c-19.2 0-30.848-10.304-30.848-29.504L237.696 291.712C237.696 272.512 249.344 256 268.544 256l23.168 0c19.2 0 37.376 16.512 37.376 35.712L329.088 848.192 329.152 848.192zM566.848 848.192c0 19.2-24.064 29.504-43.264 29.504L500.416 877.696c-19.2 0-43.264-10.304-43.264-29.504L457.152 291.712C457.152 272.512 481.216 256 500.416 256l23.232 0c19.2 0 43.264 16.512 43.264 35.712L566.912 848.192 566.848 848.192zM786.304 291.712l0 556.48c0 19.2-11.648 29.504-30.848 29.504l-23.232 0c-19.2 0-37.376-10.304-37.376-29.504L694.848 291.712c0-19.2 18.176-35.712 37.44-35.712l23.232 0C774.656 256 786.304 272.512 786.304 291.712L786.304 291.712zM786.304 291.712" /></svg>');
}

.grid-item.changed-files .line>.flag.renamed
{
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="-256 -256 1536 1536" xmlns="http://www.w3.org/2000/svg"><path fill="hsla(30,100%,50%,1)" d="M960 256h-153.6l-157.856-157.856c-8.544-8.544-17.056-12.8-29.856-12.8H64.032C38.432 85.344 21.376 102.4 21.376 128v768c0 25.6 17.056 42.656 42.656 42.656h896c25.6 0 42.656-17.056 42.656-42.656V298.656c0-25.6-17.056-42.656-42.656-42.656zM106.656 170.656H601.6L686.944 256H106.688V170.656z m810.688 682.688H106.688v-512h810.656v512zM460.8 738.144l59.744 59.744 200.544-200.544-200.544-200.544-59.744 59.744 98.144 98.144H320v85.344h238.944z" /></svg>');
}

.grid-item.changed-files .line>.flag.copied
{
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="-128 -128 1280 1280" xmlns="http://www.w3.org/2000/svg"><path fill="hsla(30,100%,50%,1)" d="M804.2 111.9h-425c-35 0-65 30-65 65v35h395c35 0 65 30 65 65v465h35c35 0 65-30 65-65v-500c-5-35-35-65-70-65z m-100 235c0-35-30-65-65-65h-425c-35 0-65 30-65 65v500c0 35 30 65 65 65h425c35 0 65-30 65-65v-500z m-295 115c0 10-5 15-15 15h-130c-10 0-15-5-15-15v-35c0-10 5-15 15-15h130c10 0 15 5 15 15v35z m135 265c0 10-5 15-15 15h-265c-10 0-15-5-15-15v-35c0-10 5-15 15-15h260c10 0 15 5 15 15v35h5z m65-130c0 10-10 15-20 15h-325c-10 0-15-5-15-15v-35c0-10 5-15 15-15h325c10 0 20 5 20 15v35z m0 0" /></svg>');
}
.grid-item.changed-files .line>.flag.unmerged
{
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="-128 -128 1280 1280" xmlns="http://www.w3.org/2000/svg"><path fill="hsla(30,100%,50%,1)" d="M768 488.021l128 128v194.006q0 34.005-25.984 59.989T810.026 896h-596.01q-34.005 0-59.99-25.984t-25.983-59.99v-280.02l128 128 169.984-171.99 171.989 171.99z m128-274.005v280.021l-128-128-169.984 171.99-171.99-171.99-169.983 171.99-128-130.006V214.016q0-34.005 25.984-59.99t59.989-25.983h596.01q34.006 0 59.99 25.984T896 214.016z" /></svg>');
}

.grid-item.changed-files .line>.file
{
}

.grid-item.changed-files .line>.to-file
{
}

.grid-item.changed-files .line>.to-file::before
{
	content: ' -> '
}
